.app-title {
    color: white;
    background: linear-gradient(to right,blue, darkblue);
    text-align: center;
    font-weight: bold;
}

.card-header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#city-name {
    border-radius: 5px;
    
    
}

 #submit, button {
     padding: 10px 65px 10px 65px;
     width: 100%;
     background-color: lightskyblue;
     border-radius: 5px;
     color: white;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bold;
 }

 #cityListContainer {
    border-top: solid 2px;

 }


.border {
    border: solid 1px ;
}

.search-history {
border: lightgrey solid 1px;
border-radius: 10px;
text-align: center;
background-color: lightgrey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.red {
    background-color:red;
}

.green {
    background-color:green;
}

.forecast-card {
    background-color: navy;
    font-weight: bold;
    color: white;
    padding: 10px;
}
